@import "reset.scss";
@import "modal.scss";
@import "notification.scss";

:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
    width: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	color: #000;
	font-size: 1em;
    font-weight: normal;
}


