@import "reset.scss";
@import "typography.scss";
@import "quote.scss";
@import "modal.scss";
@import "notification.scss";
@import "control.scss";

:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
    font-weight: normal;
	font-family: $base-font;
}

.is-blurred {
	filter: blur(0.25em);
}

.fav__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 1.4em;

	+ .fav__item {
		margin-top: 1em;
	}
}

.fav__empty {
	text-align: center;
}


.fav__control {
	background: transparent;
	cursor: pointer;
	border: 0;

	&:hover,
	&:focus {
		color: rgba(0,0,0,0.7);
	}
}

